# Python (Django)
env/
*.pyc
__pycache__/
db.sqlite3

# Flutter
build/
.dart_tool/
.packages
.pub/
.idea/
.vscode/

# Firebase Service Account Key
/django/backend/capstone-dedd4-firebase-adminsdk-fbsvc-69e67e0cac.json


